.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 7px grey;
}

.heading_div{
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 7px grey;
}

.header_div2{
    font-size: 18px;
}

.footer_div{
    position: fixed;
    bottom: 0;
    background-color: grey;
    color: white;
    height: 26.5px;
    font-size: 17px;
    width: 100%;
    text-align: center;
}

.result_para_tag{
    box-shadow: 5px 5px 7px grey;
    font-size: 20px;
}

canvas{
    border-style: solid;
    border-color: red;
    border-width: 6px;
    border-radius: 15%;
}